div {
  margin: 0;
  font-family: sans-serif;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(256, 96%, 33%);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #1508bd;
}
